/* General settings */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #050807;
    color: white;
    scroll-behavior: smooth;
    font-family: 'Times New Roman', Times, serif;
}

h1 {
  font-size: 36px;
}

h2 {
  font-size: 30px;
}

h4 {
  font-size: 20px;
}

li {
  font-size: 17px;
}

.section {
  margin-top: 300px;
}

@media only screen and (max-width: 767px) {
  .section {
    margin-top: 100px;
  }
 }

.sectionName {
  text-align: center;
  margin: auto;
  width: 50%;
  border-bottom: 1px solid aqua;
margin-bottom: 30px;
padding-bottom: 20px;
}

@media only screen and (max-width: 480px) {
  .sectionName {
  margin-bottom: 5px;
  padding-bottom: 10px;
  }
}

/* Loading settings*/
#loading {
  width: 100%;
  height: 100%;
  top: 0px;
  left: 0px;
  position: fixed;
  display: block;
  z-index: 99
}

#loading-image {
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  z-index: 100
} 

/* Main General settings*/
main {
  margin-top: 90px;
}
main p {
  font-size: 20px;
}

@media only screen and (max-width: 480px) {
  main p {
    font-size: 17px;
  }
}

/* Navigation Bar */ 
.navbar {
    display: flex;
    justify-content: space-between;
    border-bottom: 1px white solid;
    overflow: hidden;
    position: fixed; /* Set the navbar to fixed position */
    top: 0; /* Position the navbar at the top of the page */
    width: 100%; /* Full width */
    z-index: 1;
}

.logoContainer {
margin: 0.4em;
display: inline;
height:50px;
}

#logo {
  width: 45px;
}

.menu {
  display: flex;
  align-items: center;
  justify-content: center;
}

.menu a {
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 20px;
  transition: 0.5s;
}

.menu a:hover {
  color: aqua;
}

.menubtn {
  display: none;
  width: 48px;
  height: 48px;
}
.menuIcon {
  display: none;
}

  @media only screen and (max-width: 767px) {
    .menubtn {
      display: block;
    }
      .closeIcon {
      display: none;
    }

    .asblock {
      display: block;
    }
    .asnone {
      display: none;
    }
 
    .hamburger {
      position: fixed;
      z-index: 100;
      top: 5px;
      right: 1rem;
     border: none;
      cursor: pointer;
    }
    .menuItems {
      position: fixed;
      transform: translateY(-400%);
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      z-index: 99;
      background: black;
      color: white;
      display: flex;
      flex-direction: column;
      padding-top: 220px;
    }
    .showMenu {
      transform: translateY(0);
    }

   }

   @media only screen and (max-width: 480px) {
    .menuItems {
      padding-top: 50%
    }
   }

/* #Home section styles */
.anchor {
  padding-top: 90px;
   margin-top: -90px;
}

#home * {
  padding: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

#greeting {
  margin-right: 370px;
}

#home h1 {
  font-size: 36px;
}

#home img {
  display: block;
  margin-left: auto;
  margin-right: auto;
    border-radius: 50%;
    width: 250px;
    height: 250px;
}

@media only screen and (max-width: 767px) {
 h2 {
  font-size: 25px;
 }
 #greeting {
  padding: 0px;
}
}

@media only screen and (max-width: 480px) {
  #greeting {
    margin-right: 150px;
  }
  .firstsection h2 {
    font-size: 20px;
  }
 }


/* #About section styles */
.aboutSection p, h4, ul, li {
  padding: 20px;
}

.aboutSection p {
  margin: 0 100px;
  text-align: center;
  line-height: 1.5;
}

.aboutSection li {
  margin: 0 100px;
}

#scolarlink {
  padding: 0px;
  color: aqua;
}

@media only screen and (max-width: 767px) {
  .aboutSection p {
    margin: 0 20px;
  }
  .aboutSection li {
    margin: 0 20px;
  }
}

@media only screen and (max-width: 480px) {
 
.aboutSection p, h4, ul, li {
  padding: 20px;
}
  .aboutSection h2 {
    margin-top: 45px;
  }
}


/* #My Skills section styles */
.mySkillsSection h4 {
  padding: 20px;
}
.mySkillsSection li {
  margin: 0 100px;
  padding: 10px;
}
@media only screen and (max-width: 480px) {
  .mySkillsSection li {
    margin: 0 30px;
    padding: 5px;
  }
}

/* #Projects section styles */
.projectsSection img {
  width: 200px;
  height: 200px;
  border-radius: 50%;
}
@media only screen and (max-width: 480px) {
  .projectsSection img {
    width: 180px;
    height: 180px;
    border-radius: 50%; 
  }
}

.projectsContainer {
  padding-top: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
 }

.projectsSection li {
 display: inline;
 padding: 20px;
}

 .projectsSection a {
  text-decoration: none;
 }

 .projectsSection figure {
  display: flex;
  flex-flow: column;
  padding: 5px;
  max-width: 200px;
  margin: auto;
}

.projectsSection figcaption {
  color: #fff;
  font: italic smaller sans-serif;
  padding: 10px;
  text-align: center;
}

.projectsSection img:hover {
  transform: scale(1.1);
}

.projectsSection img:hover + figcaption {
  color: aqua;

}
.projectsSection figcaption:hover {
  color: aqua;
}

@media only screen and (max-width: 767px) {
 .projectsContainer {
  padding-top: 20px;
  display: block;
 }
}
@media only screen and (max-width: 480px) {
  .projectsContainer {
margin-bottom: 150px;
  }
 }

/* #Contact section styles */
.contactContainer {
  margin: auto;
  width: 50%;
  text-align: center;
  margin-bottom: 300px;
}

.contactSection button {
  margin-top: 25px;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 30px;
    transition: 0.5s;
    border: 1px solid white;
}

.contactSection button:hover {
color: aqua;
border: 1px solid aqua;
}

@media only screen and (max-width: 767px) {
  .contactContainer {
    width: 80%;
    margin-bottom: 200px;
  }
}

@media only screen and (max-width: 480px) {
  .contactContainer {
    margin-bottom: 150px;
  }
  .contactSection p {
    margin-top: 20px;
  }
}

/* #Contact section styles */
footer {
  margin: auto;
  width: 50%;
  text-align: center;
  margin-bottom: 35px;
}

footer img {
  background-color: #fff;
  border-radius: 50%;
  width: 40px;
  height:40px;
  margin: 10px 3px;
}
@media only screen and (max-width: 480px) {
  footer img {
    width: 30px;
    height:30px;
  }
}
footer img:hover {
  background-color: aqua;
}


